.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform-provider-*

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/